In [13]:
import numpy as np
import pandas as pd
np.random.seed(123)
scores = np.random.randint(50,101,size=(50,5))
students = pd.DataFrame(scores,
            index=[f'學生{num}' for num in range(1,51)],
            columns = ['國文','英文','數學',"生物",'物理'])
students

      國文   英文   數學  生物  物理
學生1   95   52   78  84  88
學生2   67   69   92  72  83
學生3   82   99   97  59  82
學生4   96   82   97  75  69
學生5   64   86   82  66  54
學生6   99   53   52  70  89
學生7   52   70   97  98  57
學生8   91   85   78  88  83
學生9   71   80   77  84  83
學生10  62   90   53  92  55
學生11  50   61   84  60  72
學生12  63   68   86  65  93
學生13  77   94   80  56  95
學生14  76   66   56  64  89
學生15  61   57   51  93  87
學生16  75  100   70  99  62
學生17  68   67   51  94  91
學生18  98   77   99  72  53
學生19  53   61   71  75  89
學生20  91   84   53  61  53
學生21  80   56   59  73  64
學生22  88   69   56  62  77
學生23  88   67   96  60  85
學生24  85   51   97  95  66
學生25  55   90   95  72  96
學生26  65   90   75  95  99
學生27  50   85   79  51  69
學生28  54   80   57  79  88
學生29  51   62   53  94  57
學生30  88   74   56  63  78
學生31  94   70   86  98  82
學生32  90   74   95  63  58
學生33  64   56   51  80  56
學生34  90   60   62  62  75
學生35  92   99   57  63  94
學生36  51   91   64  73  83
學生37  53   67   74  96  73
學生38  55   83  100  87  52
學生39  68   96   95  85  68
學生40  77   96   59  67  53
學生41  61   76   78  61  60
學生42  53   95   73  75  77
學生43  96   53   85  64  71
學生44  98   73   73  86  54
學生45  55   98   59  52  87
學生46  83   55   59  65  78
學生47  52   60   86  53  98
學生48  53   73   77  84  87
學生49  99   73   71  75  67
學生50  52   95   60  58  82

In [14]:
students["國文"] #subscribes
students[['國文','數學']] #subscribes裡面加list,提取出不只一個值

      國文   數學
學生1   95   78
學生2   67   92
學生3   82   97
學生4   96   97
學生5   64   82
學生6   99   52
學生7   52   97
學生8   91   78
學生9   71   77
學生10  62   53
學生11  50   84
學生12  63   86
學生13  77   80
學生14  76   56
學生15  61   51
學生16  75   70
學生17  68   51
學生18  98   99
學生19  53   71
學生20  91   53
學生21  80   59
學生22  88   56
學生23  88   96
學生24  85   97
學生25  55   95
學生26  65   75
學生27  50   79
學生28  54   57
學生29  51   53
學生30  88   56
學生31  94   86
學生32  90   95
學生33  64   51
學生34  90   62
學生35  92   57
學生36  51   64
學生37  53   74
學生38  55  100
學生39  68   95
學生40  77   59
學生41  61   78
學生42  53   73
學生43  96   85
學生44  98   73
學生45  55   59
學生46  83   59
學生47  52   86
學生48  53   77
學生49  99   71
學生50  52   60

In [15]:
sum_series = np.sum(students,axis=1)
average_series = np.mean(students, axis=1)
average_series

學生1     79.4
學生2     76.6
學生3     83.8
學生4     83.8
學生5     70.4
學生6     72.6
學生7     74.8
學生8     85.0
學生9     79.0
學生10    70.4
學生11    65.4
學生12    75.0
學生13    80.4
學生14    70.2
學生15    69.8
學生16    81.2
學生17    74.2
學生18    79.8
學生19    69.8
學生20    68.4
學生21    66.4
學生22    70.4
學生23    79.2
學生24    78.8
學生25    81.6
學生26    84.8
學生27    66.8
學生28    71.6
學生29    63.4
學生30    71.8
學生31    86.0
學生32    76.0
學生33    61.4
學生34    69.8
學生35    81.0
學生36    72.4
學生37    72.6
學生38    75.4
學生39    82.4
學生40    70.4
學生41    67.2
學生42    74.6
學生43    73.8
學生44    76.8
學生45    70.2
學生46    68.0
學生47    69.8
學生48    74.8
學生49    77.0
學生50    69.4
dtype: float64

In [16]:
students_finish = students.copy()
students_finish['總分'] = sum_series
students_finish['平均'] = average_series
students_finish

      國文   英文   數學  生物  物理   總分    平均
學生1   95   52   78  84  88  397  79.4
學生2   67   69   92  72  83  383  76.6
學生3   82   99   97  59  82  419  83.8
學生4   96   82   97  75  69  419  83.8
學生5   64   86   82  66  54  352  70.4
學生6   99   53   52  70  89  363  72.6
學生7   52   70   97  98  57  374  74.8
學生8   91   85   78  88  83  425  85.0
學生9   71   80   77  84  83  395  79.0
學生10  62   90   53  92  55  352  70.4
學生11  50   61   84  60  72  327  65.4
學生12  63   68   86  65  93  375  75.0
學生13  77   94   80  56  95  402  80.4
學生14  76   66   56  64  89  351  70.2
學生15  61   57   51  93  87  349  69.8
學生16  75  100   70  99  62  406  81.2
學生17  68   67   51  94  91  371  74.2
學生18  98   77   99  72  53  399  79.8
學生19  53   61   71  75  89  349  69.8
學生20  91   84   53  61  53  342  68.4
學生21  80   56   59  73  64  332  66.4
學生22  88   69   56  62  77  352  70.4
學生23  88   67   96  60  85  396  79.2
學生24  85   51   97  95  66  394  78.8
學生25  55   90   95  72  96  408  81.6
學生26  65   90   75  95  99  424  84.8
學生27  50   85   79  51  69  334  66.8
學生28  54   80   57  79  88  358  71.6
學生29  51   62   53  94  57  317  63.4
學生30  88   74   56  63  78  359  71.8
學生31  94   70   86  98  82  430  86.0
學生32  90   74   95  63  58  380  76.0
學生33  64   56   51  80  56  307  61.4
學生34  90   60   62  62  75  349  69.8
學生35  92   99   57  63  94  405  81.0
學生36  51   91   64  73  83  362  72.4
學生37  53   67   74  96  73  363  72.6
學生38  55   83  100  87  52  377  75.4
學生39  68   96   95  85  68  412  82.4
學生40  77   96   59  67  53  352  70.4
學生41  61   76   78  61  60  336  67.2
學生42  53   95   73  75  77  373  74.6
學生43  96   53   85  64  71  369  73.8
學生44  98   73   73  86  54  384  76.8
學生45  55   98   59  52  87  351  70.2
學生46  83   55   59  65  78  340  68.0
學生47  52   60   86  53  98  349  69.8
學生48  53   73   77  84  87  374  74.8
學生49  99   73   71  75  67  385  77.0
學生50  52   95   60  58  82  347  69.4

In [17]:
#由index開始選取
students_finish.loc['學生1'] #利用索引，抓取單筆資料
students_finish.loc[["學生1",'學生3']] #利用索引
students_finish.loc['學生3':'學生10'] #利用slicing(切割)抓取某一串連續的資料
students_finish.loc['學生1':'學生10','國文':'物理'] #利用slicing(切割)抓取某一串連續的資料 (欄和列)
students_finish.iloc[2:10,:5] #利用iloc 抓取資料; 冒號前面如果沒有打數字就預設重第一筆開始

      國文  英文  數學  生物  物理
學生3   82  99  97  59  82
學生4   96  82  97  75  69
學生5   64  86  82  66  54
學生6   99  53  52  70  89
學生7   52  70  97  98  57
學生8   91  85  78  88  83
學生9   71  80  77  84  83
學生10  62  90  53  92  55

In [18]:
students = students_finish.loc['學生1'] #利用索引
students['國文']=100 # 以下提示是在說明，用loc 或是 iloc 抓取出來的資料都是"View"(想像成唯讀)，修改國文成為100不會被回寫到原本的資料裡面
students_finish #原本的資料students_finish的學生1國文還是95

C:\Users\User\AppData\Local\Temp\ipykernel_4516\1470885041.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  students['國文']=100 # 以下提示是在說明，用loc 或是 iloc 抓取出來的資料都是"View"(想像成唯讀)，修改國文成為100不會被回寫到原本的資料裡面

      國文   英文   數學  生物  物理   總分    平均
學生1   95   52   78  84  88  397  79.4
學生2   67   69   92  72  83  383  76.6
學生3   82   99   97  59  82  419  83.8
學生4   96   82   97  75  69  419  83.8
學生5   64   86   82  66  54  352  70.4
學生6   99   53   52  70  89  363  72.6
學生7   52   70   97  98  57  374  74.8
學生8   91   85   78  88  83  425  85.0
學生9   71   80   77  84  83  395  79.0
學生10  62   90   53  92  55  352  70.4
學生11  50   61   84  60  72  327  65.4
學生12  63   68   86  65  93  375  75.0
學生13  77   94   80  56  95  402  80.4
學生14  76   66   56  64  89  351  70.2
學生15  61   57   51  93  87  349  69.8
學生16  75  100   70  99  62  406  81.2
學生17  68   67   51  94  91  371  74.2
學生18  98   77   99  72  53  399  79.8
學生19  53   61   71  75  89  349  69.8
學生20  91   84   53  61  53  342  68.4
學生21  80   56   59  73  64  332  66.4
學生22  88   69   56  62  77  352  70.4
學生23  88   67   96  60  85  396  79.2
學生24  85   51   97  95  66  394  78.8
學生25  55   90   95  72  96  408  81.6
學生26  65   90   75  95  99  424  84.8
學生27  50   85   79  51  69  334  66.8
學生28  54   80   57  79  88  358  71.6
學生29  51   62   53  94  57  317  63.4
學生30  88   74   56  63  78  359  71.8
學生31  94   70   86  98  82  430  86.0
學生32  90   74   95  63  58  380  76.0
學生33  64   56   51  80  56  307  61.4
學生34  90   60   62  62  75  349  69.8
學生35  92   99   57  63  94  405  81.0
學生36  51   91   64  73  83  362  72.4
學生37  53   67   74  96  73  363  72.6
學生38  55   83  100  87  52  377  75.4
學生39  68   96   95  85  68  412  82.4
學生40  77   96   59  67  53  352  70.4
學生41  61   76   78  61  60  336  67.2
學生42  53   95   73  75  77  373  74.6
學生43  96   53   85  64  71  369  73.8
學生44  98   73   73  86  54  384  76.8
學生45  55   98   59  52  87  351  70.2
學生46  83   55   59  65  78  340  68.0
學生47  52   60   86  53  98  349  69.8
學生48  53   73   77  84  87  374  74.8
學生49  99   73   71  75  67  385  77.0
學生50  52   95   60  58  82  347  69.4

In [31]:
#用loc 或 iloc 抓取出的資料如果要修改，要先用.copy將抓取出來的資料轉成"實體"
students10 = students_finish.iloc[:10].copy()
students10.loc['學生1','國文'] = 100
students10

       國文  英文  數學  生物  物理   總分    平均
學生1   100  52  78  84  88  397  79.4
學生2    67  69  92  72  83  383  76.6
學生3    82  99  97  59  82  419  83.8
學生4    96  82  97  75  69  419  83.8
學生5    64  86  82  66  54  352  70.4
學生6    99  53  52  70  89  363  72.6
學生7    52  70  97  98  57  374  74.8
學生8    91  85  78  88  83  425  85.0
學生9    71  80  77  84  83  395  79.0
學生10   62  90  53  92  55  352  70.4

In [20]:
#透過Mask選取資料
#直接給Mask bool值,選出國文84分以上的
mask = [True,False,False,True,True,False,False,False,True,True]
students10[mask]

       國文  英文  數學  生物  物理   總分    平均
學生1   100  52  78  84  88  397  79.4
學生4    96  82  97  75  69  419  83.8
學生5    64  86  82  66  54  352  70.4
學生9    71  80  77  84  83  395  79.0
學生10   62  90  53  92  55  352  70.4

In [26]:
#透過Mask選取資料
#給Mask資料的定義,選出國文84分以上的
mask = students10['國文'] >= 85
students10[mask]

      國文  英文  數學  生物  物理   總分    平均
學生1  100  52  78  84  88  397  79.4
學生4   96  82  97  75  69  419  83.8
學生6   99  53  52  70  89  363  72.6
學生8   91  85  78  88  83  425  85.0

In [37]:
students10[students10['數學'] >= 90]

     國文  英文  數學  生物  物理   總分    平均
學生2  67  69  92  72  83  383  76.6
學生3  82  99  97  59  82  419  83.8
學生4  96  82  97  75  69  419  83.8
學生7  52  70  97  98  57  374  74.8

In [35]:
students_finish[students_finish['總分'] >= 400]

      國文   英文  數學  生物  物理   總分    平均
學生3   82   99  97  59  82  419  83.8
學生4   96   82  97  75  69  419  83.8
學生8   91   85  78  88  83  425  85.0
學生13  77   94  80  56  95  402  80.4
學生16  75  100  70  99  62  406  81.2
學生25  55   90  95  72  96  408  81.6
學生26  65   90  75  95  99  424  84.8
學生31  94   70  86  98  82  430  86.0
學生35  92   99  57  63  94  405  81.0
學生39  68   96  95  85  68  412  82.4

In [42]:

students_finish[(students_finish['總分'] >= 400) & (students_finish['數學'] >= 80) ]

      國文  英文  數學  生物  物理   總分    平均
學生3   82  99  97  59  82  419  83.8
學生4   96  82  97  75  69  419  83.8
學生13  77  94  80  56  95  402  80.4
學生25  55  90  95  72  96  408  81.6
學生31  94  70  86  98  82  430  86.0
學生39  68  96  95  85  68  412  82.4